
body {
    font-family: "Avenir Next";
}

h1 {
    background-color: #2497b9;
    color: #ffffff;
    width: 700px;
    height: 80px;
    padding: 40px 20px;
}

a {
    float: left;
}

li {
    list-style: none;
    float: left;
    padding: 10px 20px;

}
